@import "tailwindcss";

/* Radjhani font faces */
@font-face {
  font-family: 'Rajdhani';
  src: url('/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* MonomaniacOne font face */
@font-face {
  font-family: 'MonomaniacOne';
  src: url('/MonomaniacOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ui: 'Rajdhani', Arial, Helvetica, sans-serif;
  --font-title: 'MonomaniacOne', 'Rajdhani', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ui);
}

h1, h2, h3, h4, h5, h6, .font-title {
  font-family: var(--font-title);
}

p {
  font-weight: 700;
}
